.myTableau {
    align-items: center;
    align-content: center;
    padding: 50px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: lighter;
    align-self:center;
    text-align: center;
}